$Dark-Blue: hsl(209, 23%, 22%); //elems
$Very-Dark-Blue: hsl(207, 26%, 17%); //bg
$Very-Dark-Blue-text: hsl(200, 15%, 8%); //text
$Dark-Gray: hsl(0, 0%, 52%); //input
$Very-Light-Gray: hsl(0, 0%, 98%); //ligtmodeBG
$White: hsl(0, 0%, 100%); //DarkModText light mod elems
